.homepage-container {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/homepage_bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #fafafa;
}

.background-changed {
  background-image: url('./assets/starry_bg.png');
  background-color: #170a07;
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.background-entry {
  background-image: url('./assets/entry_background.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  position: relative;
}

.background-entry.ready {
  transition: filter 1s ease;
}


.background-entry.saturated {
  filter: grayscale(0%); /* 🌈 full color */
}

.tiger-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 35vw;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
}

/* Tiger top overlay */
.tiger-top-image {
  width: 100%;
  height: auto;
  pointer-events: none;

}

.tiger-image {
  position: absolute;
  top: 55%;           /* Vertically centered */
  left: 50%;          /* Horizontally centered */
  width: 35vw;        /* Adjust percentage to your preference */
  height: auto;       /* Keep aspect ratio */
  transform: translate(-50%, -50%); /* Perfect centering */
  z-index: 1;
}

.coin-image {
  position: absolute;
  top: 60%;           /* Vertically centered */
  left: 50%;          /* Horizontally centered */
  width: 13.5vw;        /* Adjust percentage to your preference */
  height: auto;       /* Keep aspect ratio */
  z-index: 2;
  filter: grayscale(0%) !important;
}

.coin-image:hover {
  transform: translate(-50%, -50%) scale(1.1);
  filter: drop-shadow(0 0 20px rgb(255, 217, 0));
}

/* .tiger-top-image {
  position: absolute;
  top: 55%; 
  left: 50%;
  width: 35vw;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
} */


.main-god-text {
  position: absolute;
  top: 20vh;
  left: 15vw;
  width: 30%;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.god-image {
  position: absolute;
  top: 20vh;
  left: 56%;
  transform: translateX(-50%);
  width: 60vw; /* Adjust size as you like */
  pointer-events: none;
  z-index: 10; /* higher than coin */
}

.evil-god-image {
  position: absolute;
  top: 8vh;
  left: 7%;
  width: 35vw;
  transform: translateX(-50%);
  z-index: 10;
}

.evil-god-text {
  position: absolute;
  top: 20vh;
  left: 50vw;
  width: 30%;
  text-align: center;
  font-size: 2vw;
  color: white;
}



.dog-god-image {
  position: absolute;
  max-width: 80%;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Move back half width and half height */
  z-index: 999;
}

.circle {
  position: absolute;
  top: 38%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  width: 8vw;     /* width = height */
  height: 8vw;
  border-radius: 50%;   /* THIS makes it a circle */
  background-color: transparent;
  z-index: 999;

}